
@*@model System.Int32
@{
    ViewBag.Title = "JSONExample";
}



@using (Ajax.BeginForm("EditComment", new { editpers = (int)Model }, new AjaxOptions
{
    UpdateTargetId = Convert.ToString(Model),
    InsertionMode = InsertionMode.Replace
}))
{

    <p>First name:</p>
    <input type="text" name="Comments" />
            <br />


            <input type="submit" value="Submit" />

}*@

