@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jönköping, Sweden<br />
    
    <abbr title="Phone">Mobile:</abbr>
    +46.762.620287
</address>

<address>
    <strong>Personal Email:</strong>   <a href="mailto:firas.wira@gmail.com">firas.wira@gmail.com</a><br />
    
</address>